menu "Device Drivers"

source "xstar/driver/adc/Kconfig"
source "xstar/driver/atnet/Kconfig"
source "xstar/driver/atomic/Kconfig"
source "xstar/driver/audio/Kconfig"
source "xstar/driver/battery/Kconfig"
source "xstar/driver/block/Kconfig"
source "xstar/driver/buzzer/Kconfig"
source "xstar/driver/camera/Kconfig"
source "xstar/driver/clk/Kconfig"
source "xstar/driver/clockevent/Kconfig"
source "xstar/driver/clocksource/Kconfig"
source "xstar/driver/compass/Kconfig"
source "xstar/driver/console/Kconfig"
source "xstar/driver/dac/Kconfig"
source "xstar/driver/dma/Kconfig"
source "xstar/driver/framebuffer/Kconfig"
source "xstar/driver/g2d/Kconfig"
source "xstar/driver/gmeter/Kconfig"
source "xstar/driver/gnss/Kconfig"
source "xstar/driver/gpio/Kconfig"
source "xstar/driver/gyroscope/Kconfig"
source "xstar/driver/hygrometer/Kconfig"
source "xstar/driver/i2c/Kconfig"
source "xstar/driver/input/Kconfig"
source "xstar/driver/interrupt/Kconfig"
source "xstar/driver/led/Kconfig"
source "xstar/driver/ledstrip/Kconfig"
source "xstar/driver/ledtrigger/Kconfig"
source "xstar/driver/light/Kconfig"
source "xstar/driver/limiter/Kconfig"
source "xstar/driver/motor/Kconfig"
source "xstar/driver/net/Kconfig"
source "xstar/driver/nvmem/Kconfig"
source "xstar/driver/oximeter/Kconfig"
source "xstar/driver/pressure/Kconfig"
source "xstar/driver/printer/Kconfig"
source "xstar/driver/proximity/Kconfig"
source "xstar/driver/pwm/Kconfig"
source "xstar/driver/regulator/Kconfig"
source "xstar/driver/reset/Kconfig"
source "xstar/driver/rng/Kconfig"
source "xstar/driver/rtc/Kconfig"
source "xstar/driver/sd/Kconfig"
source "xstar/driver/servo/Kconfig"
source "xstar/driver/spi/Kconfig"
source "xstar/driver/spinlock/Kconfig"
source "xstar/driver/stepper/Kconfig"
source "xstar/driver/thermometer/Kconfig"
source "xstar/driver/uart/Kconfig"
source "xstar/driver/vibrator/Kconfig"
source "xstar/driver/watchdog/Kconfig"

endmenu
