source "xstar/kernel/audio/Kconfig"
source "xstar/kernel/command/Kconfig"
source "xstar/kernel/core/Kconfig"
source "xstar/kernel/font/Kconfig"
source "xstar/kernel/graphic/Kconfig"
source "xstar/kernel/shell/Kconfig"
source "xstar/kernel/time/Kconfig"
source "xstar/kernel/vision/Kconfig"
source "xstar/kernel/window/Kconfig"
source "xstar/kernel/xfs/Kconfig"
